DATABASE_URL=
SESSION_ID="Prince~scl/fi/7zadpjew7mk3tq1143hz4/EA6YTJf5Fw.json?rlkey=whz7417dvyg5hcp5ioy7wd3kk&dl=0"
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=Prince
AutoReaction=false
OWNER_NUMBER=923092668108;PRINCE
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by prince

